*
{
    margin: 0;
    padding: 0;
}

.wrap_container
{
    width: 1100px;
    margin: auto;
}

.header
{
    margin-top: 100px;
}

.photo
{
    width: 330px;
    height: 350px;
    border-radius: 5px;
    float: left;
}

.quote
{
    float: left;
    background: url("../images/quotes.png") no-repeat;
    width: 670px;
    height: 270px;
    margin-left: 60px;
    margin-top: 50px;
}

blockquote 
{
    margin-top: 70px;
    margin-left: 61px;
    width: 500px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-family: "Georgia";
    font-style: italic;
}

.author
{
    margin-top: 1px;
    margin-left: 62px;
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 600;
}

.clear
{
    clear: both;
}

.left_column
{
    float: left;
    width: 330px;
    margin-top: 5px;
}

.authors
{
    color: #61a78c;
    margin-top: 40px;
    font: 600 18pt "Open Sans";    
}

.films
{
    color: #61a78c;
    margin-top: 48px;
    font: 600 18pt "Open Sans";
}

ul
{
    margin: 20px;
    padding: 0;
    margin-top: 19px;
}

ol
{
    margin-left: 20px;
    margin-top: 18px;
}

li 
{
    color: #555555;
    margin-top: 15px;
    font: 400 14pt Georgia;
}

.right_column 
{
    float: left;
    margin-left: 55px;
    margin-top: -50px;
    width: 600px;
    
}

h1 
{
    margin-top: 95px;
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 700;
}

.splitter 
{
    height: 6px;
    width: 60px;
    border-radius: 3px;
    background-color: #45c3aa;
    margin-top: 32px;
    margin-left: 4px;
}

.main_text
{
    color: #555555;
    margin-left: 5px;
    font: 14pt/24pt Georgia;
    margin-top: 44px;    
}

h2 
{
    margin-top: 60px;
    color: #363636;
    font: 500 26pt/5pt "Open Sans";
}

.common_text 
{
    color: #555555;
    margin-left: 6px;
    font: 14pt/24pt Georgia;
    margin-top: 33px;
}

a
{
    color: #15a98b;
    font:  19px, 32px,"Georgia";
}

.connect_link 
{
    margin-top: 42px;
    margin-left: 5px;
    margin-bottom: 50px;
}

